.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}
.header-ul {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
}
.header-h2 {
  font-family: monospace;
  font-size: 30px;
}

.logout-btn{
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: crimson;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  transition: 2s ease transform;
}
.logout-btn:hover{
  background-color: #ccc;
  /* transform: translateY(-25%); */
}